#header {
    /* Profile Picture */


    position: absolute;
    height: 229px;
    left: 0px;
    right: 0px;
    top: 0px;

    border-radius: 8px;
}

#header-rectangle {
    /* Rectangle 1 */


    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Global/01. Primary */

    background: #11212E;
    opacity: 0.6;
}

#header-component {
    /* Frame 13 */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 411px;
    left: calc(50% - 411px/2);
    top: 17.47%;
    bottom: 17.47%;
}

.header-image {
    /* Ellipse 1 */


    position: static;
    left: 37.83%;
    right: 37.83%;
    top: 0%;
    bottom: 32.89%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 !important;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 20px 0px;
}

#header-text {
    /* Brian McNhoi */


    position: static;
    width: 411px;
    left: calc(50% - 411px/2);
    top: 80.54%;
    bottom: 0%;

    /* identical to box height, or 120% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Global/09. White */

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
}