<ng-template [ngIf]="this.page == Pages.landingPage">
    <ng-template [ngTemplateOutlet]="landingPage"></ng-template>
</ng-template>

<ng-template [ngIf]="this.page == Pages.signIn">
    <ng-template [ngTemplateOutlet]="signIn"></ng-template>
</ng-template>

<ng-template [ngIf]="this.page == Pages.signUp">
    <ng-template [ngTemplateOutlet]="signUp"></ng-template>
</ng-template>

<ng-template [ngIf]="this.page == Pages.guest">
    <ng-template [ngTemplateOutlet]="guest"></ng-template>
</ng-template>
    
<ng-template #landingPage>
    <div class="row justify-content-center" style="min-height: 50vh;">
        <div class="col-auto align-self-center">
            <h1 class="display-4 text-light text-center">
                PARK
            </h1>
            <h1 class="text-light text-center">
                SA MART
            </h1>
        </div>
    </div>
    
    <div class="row justify-content-center" style="min-height: 50vh;">
        <div class="col-8 align-self-center">
            <div class="row justify-content-center" style="--min-height: 0;">
                <button class="btn btn-primary btn-lg btn-block" (click)="goToGuest()">Pay as Guest</button>
                <button class="btn btn-secondary btn-lg btn-block" (click)="goToSignIn()">Sign In</button>
                <p class="text-light" style="margin-top: 8px;" (click)="goToSignUp()"><u>Create an account</u></p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #signIn>
    <div class="row justify-content-center" style="min-height: 30vh;">
        <div class="col-auto align-self-center">
            <h1 class="display-4 text-light text-center">
                PARK
            </h1>
            <h1 class="text-light text-center">
                SA MART
            </h1>
        </div>
    </div>
    <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
        <div class="row justify-content-center" style="min-height: 40vh;">
            <div class="col-8 align-self-center">
                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="email"
                                id="email"
                                class="form-control transparent-input"
                                placeholder="Email"
                                ngModel
                                name="email"
                                required
                                email>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="password"
                                id="password"
                                class="form-control transparent-input"
                                placeholder="Password"
                                ngModel
                                name="password"
                                required
                                password>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="form-check">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            id="remMe"
                            ngModel
                            name="remMe">
                        <label
                            class="form-check-label"
                            for="remMe"
                            style="color: white;">
                            Remember Me
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="min-height: 30vh;">
            <div class="col-8 align-self-center">
                <div class="row justify-content-center" style="--min-height: 0;">
                    <button
                        type="submit"
                        class="btn btn-secondary btn-lg btn-block"
                        [disabled]="!signInForm.valid">
                        Sign In
                    </button>
                    
                    <p
                        class="text-light"
                        style="margin-top: 8px;"
                        (click)="goToSignUp()">
                        <u>Create an account</u>
                    </p>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #signUp>
    <div class="row justify-content-center" style="min-height: 30vh;">
        <div class="col-auto align-self-center">
            <h1 class="display-4 text-light text-center">
                PARK
            </h1>
            <h1 class="text-light text-center">
                SA MART
            </h1>
        </div>
    </div>

    <form>
        <div class="row justify-content-center" style="min-height: 40vh;">
            <div class="col-10 align-self-center">
                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control transparent-input"
                                id="fname"
                                placeholder="First Name">
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control transparent-input"
                                id="lname"
                                placeholder="Last Name">
                        </div>
                    </div>
                    
                </div>

                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="email"
                                class="form-control transparent-input"
                                id="email"
                                placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="password"
                                class="form-control transparent-input"
                                id="password"
                                placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="password"
                                class="form-control transparent-input"
                                id="repassword"
                                placeholder="Re-enter Password">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="min-height: 30vh;">
            <div class="col-10 align-self-center">
                <div class="row justify-content-center" style="--min-height: 0;">
                    <button
                        type="submit"
                        class="btn btn-secondary btn-lg btn-block">
                        Sign Up
                    </button>
                    
                    <p
                        class="text-light"
                        style="margin-top: 8px;"
                        (click)="goToSignIn()">
                        <u>Already have an account? Log In</u>
                    </p>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #guest>
    <div class="row justify-content-center" style="min-height: 30vh;">
        <div class="col-auto align-self-center">
            <h1 class="display-4 text-light text-center">
                PARK
            </h1>
            <h1 class="text-light text-center">
                SA MART
            </h1>
        </div>
    </div>

    <form>
        <div class="row justify-content-center" style="min-height: 40vh;">
            <div class="col-10 align-self-center">
                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <h5
                            class="text-light"
                            style="text-align: center;">
                            Please Enter Your<br>License Plate
                        </h5>
                    </div>                    
                </div>

                <div class="row justify-content-center" style="--min-height: 0;">
                    <div class="col">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control transparent-input"
                                id="platenum"
                                placeholder="License No.">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="min-height: 30vh;">
            <div class="col-10 align-self-center">
                <div class="row justify-content-center" style="--min-height: 0;">
                    <button
                        type="submit"
                        class="btn btn-secondary btn-lg btn-block">
                        Sign Up
                    </button>
                    
                    <p
                        class="text-light"
                        style="margin-top: 8px;"
                        (click)="goToLandingPage()">
                        <u>Go Back</u>
                    </p>
                </div>
            </div>
        </div>
    </form>
</ng-template>