<div class="row justify-content-center" style="--min-height: 50vh;">
    <div class="col-auto align-self-center">
        <h1 class="display-4 text-light text-center">
            PARK
        </h1>
        <h1 class="text-light text-center">
            SA MART
        </h1>
    </div>
</div>

<div class="row justify-content-center" style="--min-height: 50vh;">
    <div class="col-8 align-self-center">
        <div class="row justify-content-center" style="--min-height: 0;">
            <button class="btn btn-primary btn-lg btn-block">Pay as Guest</button>
            <button class="btn btn-secondary btn-lg btn-block">Log In</button>
            <p class="text-light" style="margin-top: 8px;"><u>Create an account</u></p>
        </div>
    </div>
</div>