input.transparent-input {
  background-color:rgba(0,0,0,0) !important;
  mix-blend-mode: normal;
  backdrop-filter: blur(4px) !important;
  color: white !important;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}