#wallpaper{
    
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
}
#wrapper{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Global/07. Light */

background: #F8F9FA;
}

#bar{
/* Bar */


position: fixed;
height: 80px;
left: 0px;
right: 0px;
top: 0px;

/* Global/01. Primary */

background: #11212E;
border-radius: 0px 0px 8px 8px;
}

#barFrame{
/* Group 71 */


position: absolute;
width: calc(100vw - 40px);
height: 24px;
left: 20px;
top: 28px;

}

#barArrow{
/* Icons/Arrow left */


position: absolute;
width: 24px;
height: 24px;
left: 20px;
top: calc(50% - 24px/2);
}

#barText{
/* Payment Methods */


position: absolute;
width: 371px;
height: 24px;
left: calc(50% - 371px/2);
top: calc(50% - 24px/2);;
/* identical to box height, or 120% */

display: flex;
align-items: center;
text-align: center;

/* Global/09. White */

color: #FFFFFF;
}

#Base{
    /* Cards/x Base */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
left: calc(50% - 371px/2);
right: 0%;
bottom: 45.44%;
width:371px;
height: 180px;

/* Global/09. White */

background: #FFFFFF;
/* Components/Card border */

border: 1px solid #DFDFDF;
box-sizing: border-box;
border-radius: 8px;
}

#Base-body {
  /* Cards/x Base/Body */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 20px;

position: static;
width: 371px;
height: 180px;
left: 0px;
top: 0px;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}





#img-frame{
    /* Content/Image */


position: static;
width: 371px;
height: 160px;
left: 24px;
top: 20px;


/* Inside Auto Layout */

overflow: hidden;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 12px;
}

.car-thumbnail{
    /* ff7d9d33-ca03-496c-ab99-a103e3a3c9f4 1 */


   /* Car Thumbnail */


   position: absolute;
   left: -134.5px;
   right: 0%;
   top: -76.5px;
   bottom: 0%;

   display: block;
}

#info-frame{
/* Title & Subtitle */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
padding-left: 10px;

position: static;
width: 366px;
height: 123px;
left: 22.5px;
top: 212px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px;
}


#license{
  
/* ญอ 1717 */


position: static;
width: 215px;
height: 24px;
left: 0px;
top: 0px;

/* identical to box height, or 120% */

display: flex;
align-items: center;

/* Text/01. Body */

color: #212529;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 6px 0px;
}

#brand{
/* Car Brand: Nissan */


position: static;
width: 150px;
height: 24px;
left: 0px;
top: 30px;


/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Global/01. Primary */

color: #11212E;


/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 6px 0px;
}

#model{
/* Model: Almera */


position: static;
width: 150px;
height: 24px;
left: 0px;
top: 60px;

/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Global/01. Primary */

color: #11212E;


/* Inside Auto Layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 6px 0px;
}

#icon-frame{


/* Frame 124 */


/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding-right: 10px;

position: static;
width: 366px;
height: 33px;
left: 0px;
top: 90px;


/* Inside Auto Layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
margin: 6px 0px;
}

.edit-button{
/* Buttons/Filled/02. Default/01. Primary */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 6px 12px;

position: static;
width: 41px;
height: 33px;
left: 274px;
top: 0px;

/* Global/01. Primary */

background: #11212E;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

#edit-frame{
/* edit 3 */


position: static;
width: 25px;
height: 25px;
left: 8px;
top: 4px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.del-button{
/* Buttons/Filled/01. Small/05. Warning */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;

position: static;
width: 41px;
height: 33px;
left: 325px;
top: 0px;

/* Global/05. Warning */

background: #F2BE54;
border-radius: 4px;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;
}

#del-frame{
/* delete 1 */


position: static;
width: 20.3px;
height: 25px;
left: 10.35px;
top: 4px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

#add-frame{
    /* Add car component */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 20px 25px;

position: absolute;
width: 371px;
height: 318px;
left: calc(50% - 371px/2);
top: px;

background: #444;
border-radius: 8px;
}



#add-text{
    /* Add Your Car */


position: static;
width: 239px;
height: 32px;
left: 66px;
top: 20px;

/* or 120% */

text-align: center;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin-bottom: 10px;
}

#li-frame{
    /* Frame 31 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 251px;
height: 76px;
left: 60px;
top: 77px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 25px 0px;
}

.add-button{
    /* Buttons/Filled/03. Large/01. Primary */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

position: static;
width: 251px;
height: 46px;
left: 60px;
top: 222px;

/* Global/01. Primary */

background: #11212E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4.8px;

/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 75px 0px;
}

#add-license-container{
/* Frame 127 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 251px;
height: 89px;
left: 60px;
top: 107px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin-bottom: 10px;
}

#license-input-box{
/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
padding: 6px 12px;

position: static;
width: 251px;
height: 36px;
left: 0px;
top: 0px;

/* Global/06. Info */
background: #C9C9C9;
/* Components/Forms/Input text */
border: 1px solid #495057;
box-sizing: border-box;
border-radius: 4px;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}

/* Text */
#license-text{
position: static;
width: 225px;
height: 24px;
left: 0px;
top: 0px;

/* Components/Buttons/Default */
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Global/09. White */
color: #000;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;

}


#add-anotherCar-container{
/* Frame 30 */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 154px;
height: 29px;
left: 0px;
top: 60px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 10px 0px;
}
#add-anotherCar-text{
/* Add another car... */


position: static;
width: 119px;
height: 29px;
left: 35px;
top: 0px;


/* or 150% */

text-decoration-line: underline;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 9px;
}
#plus-frame{
/* add 1 */


position: static;
width: 26px;
height: 26px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 9px;
}

@media only screen and (max-width: 371px) {
    #barText {
        width: calc(100vw - 40px);
        left: 0px;
    }

    #Base, #Base-body, #img-frame, #info-frame, #add-frame {
        width: 100vw;
        left: 0px;
    }

    #icon-frame {
        width: calc(100vw - 20px);
    }

    .car-thumbnail {
        left: calc(-1 * (320px - (100vw - 40px) / 2));
    }
}

#footer {
    /* Parking Info */


    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    width: 100vw;
    height: 133px;
    top: 672px;
    left: 0%;

    /* Global/07. Light */
}